
* {
    box-sizing: border-box;
}

html {
    --user-photo-width: 150px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

.userCard {
    max-width: 300px;
    width: 100%;
    min-width: 250px;
    margin: 50px auto;
    border-radius: 40px;
    box-shadow: 0px 0px 10px grey;
    overflow: hidden;
    text-align: center;
}

.bg {
    background-image: url('https://images.pexels.com/photos/3801458/pexels-photo-3801458.jpeg');
    height: 150px;
    color: white;
    padding: 20px;
    text-align: right;
}

.contentWrapper {
    padding: 0 1em 1em;
}

.userImg {
    width: var(--user-photo-width);
    height: var(--user-photo-width);
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin-top: calc((-1) * var(--user-photo-width) / 2);
    border: 3px solid white;
}

.userName {
    font-size: 1.5rem;
    margin: 0.4em 0;
}

.userGeoposition {
    font-size: 1rem;
    margin: 0.4em 0;
}

.job {
    font-size: 1.2rem;
    margin: 0.4em 0;
}

.experience {
    font-size: 1rem;
    margin: 1.2em 0;
}

.userSocialLink {
    background-color: grey;
    font-size: 1.5rem;
    color: white;
    border-radius: 50%;
    padding-top: 0.5em;
    width: 2em;
    height: 2em;
}

.userSocialLink + .userSocialLink {
    margin-left: 25px;
}